services:
  postgres:
    image: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_DB=play_magazine
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - "5430:5432"

  minio:
    image: quay.io/minio/minio:RELEASE.2024-05-28T17-19-04Z
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_UPDATE: off
    entrypoint: >
      /bin/sh -c '
        isAlive() { curl -sf http://127.0.0.1:9000/minio/health/live; }
        minio $0 "$@" --quiet & echo $! > /tmp/minio.pid
        while ! isAlive; do sleep 0.1; done
        mc alias set minio http://127.0.0.1:9000 minioadmin minioadmin
        mc mb minio/apk-files || true
        mc anonymous set public minio/apk-files
        kill -s INT $(cat /tmp/minio.pid) && rm /tmp/minio.pid
        while isAlive; do sleep 0.1; done
        exec minio $0 "$@"
      '
    command: server /data --json --console-address ':9090'
    ports: [ '9000:9000/tcp', '9090:9090/tcp' ] # open http://127.0.0.1:9090 (9000 is the API port)
    volumes: [ minio-data:/data:rw ]
    healthcheck:
      test: [ 'CMD', 'curl', '-f', 'http://127.0.0.1:9000/minio/health/live' ]
      interval: 10s
      start_interval: 1s
      start_period: 10s
    security_opt: [ no-new-privileges:true ]

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
      - "1883:1883"
    environment:
      RABBITMQ_PLUGINS: "rabbitmq_mqtt rabbitmq_jms_topic_exchange"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

  artemis:
    image: vromero/activemq-artemis:2.16.0
    ports:
      - "61616:61616"
      - "8161:8161"
    environment:
      ARTEMIS_USER: admin
      ARTEMIS_PASSWORD: admin
    volumes:
      - artemis-data:/var/lib/artemis/data
volumes:
  minio-data:
  rabbitmq-data:
  artemis-data: